option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME:
    RDS_DB_NAME:
    RDS_USERNAME:
    RDS_PASSWORD:
    RDS_PORT:
    driverClassName: org.postgresql.Driver
    validationQuery: SELECT 1
    maxActive: 30
    maxIdle: 10
    minIdle: 5
    initialSize: 5
    maxWait: 5000
    testWhileIdle: true
    removeAbandoned: true
    logAbandoned: true
    OBA_URL: http://localhost:8080/oba/api/where
    OBA_API_KEY: TEST
    aws.accessKeyId:
    aws.secretKey: 
